body {
    background-color: #ebe9e9;
    color: #6c757d; /* Darker gray for better legibility */
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding-top: 60px; /* Adjust to prevent overlap with the logo */
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: bold;
}

.container-fluid {
    padding: 20px;
    border-radius: 15px;
    background-color: #f3f8f2;
}

.bg-1, .bg-2, .bg-3 {
    padding: 70px 0;
    flex-grow: 1;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bg-1 {
    background-color: #f3f8f2;
    color: #3581b8;
}

.bg-2 {
    background-color: #f7b79d; /* Pastel orange */
    color: #ebe9e9;
}

.bg-3 {
    background-color: #3581b8;
    color: #ebe9e9;
}

.mb-5 {
    margin-bottom: 1.5rem !important;
}

.container-fluid.bg-2 p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ebe9e9;
}

.section-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    text-align: center;
}

.button-shape {
    background: #f3f8f2;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 160px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #3581b8;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.button-shape:hover {
    transform: scale(1.1);
    background: #3581b8;
    color: #ebe9e9;
}

.btn-primary {
    background: #f7b79d; /* Pastel orange */
}

/* Position the logo in the top-left corner */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;  /* Ensures the logo is above other elements */
}

.logo {
    width: 120px; /* Adjust the width based on your logo size */
    height: auto;
}
/* Pill button styles */
.pill-button {
    background-color: #3581b8; /* Primary color from the palette */
    color: #ebe9e9; /* Light text color */
    padding: 12px 30px; /* Adjust padding for better shape */
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 50px; /* Oblong, pill-like shape */
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 15px; /* Space between buttons */
}

.pill-button:hover {
    background-color: #f7b79d; /* Pastel orange for hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
    .row {
        margin-bottom: 20px; /* Add space between rows on smaller screens */
    }
    .pill-button {
        width: 100%; /* Make buttons full width on mobile for better spacing */
        margin-bottom: 20px; /* Increase space between buttons */
    }
}
