body{
    background-color: #DEDBD2;
    color: #4A5759;

}

.bg-1, .bg-2, .bg-3{
    padding: 60px;

}



.bg-1{
    background-color: #F7E1D7;

}

.bg-2{
    background-color: #EDAFB8;

}







.mb-5 {
    margin-bottom: 1rem !important;
}

.container-fluid.bg-2 p{
    font-size: xx-large;
    font-weight: bold;
    color: cornsilk;
}

.navbar-brand {
    color: #4A5759;
}

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}

.navbar-expand-lg .navbar-nav {
    font-size: x-large;
}

.navbar-nav .dropdown-menu {
    font-size: smaller;
}


footer {
        width: 100%;
    margin-top: auto; /* Keeps footer at bottom */

}

