{% extends "layout.html" %}
{% block body_content %}


<div class="container-fluid bg-1 text-center">
      <h1>Hi! This is Anna</h1>
      <br />
</div>
  <div class="container-fluid bg-2 text-center">
      <p>
        I live in London and work as a Civil Engineer.
        I am hoping to develop my career in a Software Development.
      </p>
  </div>
  <div class="container-fluid bg-3 text-center">
      <p>When I'm not coding, I enjoy swimming and runnning.
      </p>
  </div>

{% endblock %}
