{% extends "layout.html" %}
{% block body_content %}

<div class="container-fluid bg-1 text-center">
      <h1>Hi! This is Ayishat</h1>
      <br />
</div>
  <div class="container-fluid bg-2 text-center">
      <p>
        I live in Livingston and work in HR.
        I am hoping for a career change and making sure that Software Development is the right path for me.
      </p>
  </div>
  <div class="container-fluid bg-3 text-center">
      <p>When I'm not coding, I enjoy reading, spending time with my dog as well as keeping myself busy with DIY projects.
      </p>
  </div>

{% endblock %}