{% extends "layout.html" %}
{% block body_content %}
<section>
    <div class="form">
        <p> Please add a new person with its favourite color here</p>
        <form method="POST">
            {{ form.hidden_tag() }} #for security
            <div class="row">
                <div class="col-sm">{{form.first_name.label}}</div>
                <div class="col-sm">{{form.first_name}}</div>
            </div>
            <div class="row">
                <div class="col-sm">{{form.last_name.label}}</div>
                <div class="col-sm">{{form.last_name}}</div>
            </div>
                <div class="row">
                <div class="col-sm">{{form.colour.label}}</div>
                <div class="col-sm">{{form.colour}}</div>
            </div>
                <div class="row">
                 <div class="col-sm">{{form.submit}}</div>
                </div>
            <p style="color:red" > {{ message}}</p>
            <hr>
        </form>
    </div>
</section>
<section>
    <div class="row strong">
        <div class="col-sm">Firstname</div>
        <div class="col-sm">Lastname</div>
        <div class="col-sm">Favourite Colour</div>
    </div>
    <hr>
    {% for vfavouritecolours in people %}
    <div class="row">
        <div class="col-sm">
    <p>{{vfavouritecolours.firstname}}</p>
        </div>
        <div class="col-sm">
    <p>{{ vfavouritecolours.lastname }}</p>
        </div>
        <div class="col-sm">
    <p><strong>{{ vfavouritecolours.FavouriteColour }}</strong></p>
        </div>
       <hr>
    </div>
    {% endfor %}
 </section>

{% endblock %}