{% extends "layout.html" %}
{% block body_content %}


<div class="container-fluid bg-1 text-center">
      <h1>Hi! This is Emily</h1>
      <br />
</div>
  <div class="container-fluid bg-2 text-center">
      <p>
        I live in Leeds and work at a digital marketing agency, in Paid Social (creating ads for social media).
        I am hoping to develop my career in a Software Development.
      </p>
  </div>
  <div class="container-fluid bg-3 text-center">
      <p>When I'm not coding, I enjoy watching films, going on walks and trying get into runnning.
      </p>
  </div>

{% endblock %}