{% extends "layout.html" %}
{% block body_content %}
<section class="container-fluid bg-1 text-center">
        <h1>Welcome to our presentation page</h1>
        <p>Please select a member name above to learn about each of us</p>
    </section>

    <section class="container-fluid bg-2 text-center">
    <h1>What have we learned</h1>
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <button class="pill-button">HTML</button>
        </div>
        <div class="col-sm-4">
            <button class="pill-button">CSS</button>
        </div>
        <div class="col-sm-4">
            <button class="pill-button">BOOTSTRAP</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <button class="pill-button">JS</button>
        </div>
        <div class="col-sm-4">
            <button class="pill-button">GIT</button>
        </div>
        <div class="col-sm-4">
            <button class="pill-button">PYTHON</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <button class="pill-button">MYSQL</button>
        </div>
        <div class="col-sm-4">
            <button class="pill-button">FLASK</button>
        </div>
    </div>
</section>


    <section class="container-fluid bg-3 text-center">
        <h1>Let's get in touch! Say Hello!</h1>
        <form method="POST" action="/submit">
            <input type="text" name="input_data" placeholder="Enter some data">
            <button type="submit">Submit</button>
        </form>
    </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}