{% extends "layout.html" %}
{% block body_content %}
    <section class="container-fluid bg-1 text-center">
            <h1>Welcome to our Sky Get Into Tech journey!!</h1>
            <p>We are a dedicated team from the Sky Get Into Tech course, building a strong foundation in software
                engineering. Through hands-on learning with Flask, we are mastering the fundamentals of backend
                development, databases, and web applications, preparing for a future in tech.</p>
            <h3>Please select a name on the Navigation Menu above to learn about each of us</h3>
        </section>
        <hr />

    <section class="container-fluid bg-2 text-center">
        <h1>What have we learned</h1>
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <p>HTML</p>
            </div>
            <div class="col-sm-4">
                <p>CSS</p>
            </div>
            <div class="col-sm-4">
                <p>BOOTSTRAP</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <p>JS</p>
            </div>
            <div class="col-sm-4">
                <p>GIT</p>
            </div>
            <div class="col-sm-4">
                <p>PYTHON</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <p>MYSQL</p>
            </div>
            <div class="col-sm-4">
                <p>FLASK</p>
            </div>
        </div>
    </section>
        <hr />

    <section class="container-fluid bg-3 text-center">
        <p>Got feedback or just want to say hi? Fill out the form below, and we’ll appreciate your message!</p>
        <form method="POST" action="/submit">
            <input type="text" name="input_data" placeholder="Enter some data">
            <button type="submit">Submit</button>
        </form>
    </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}