{% extends "layout.html" %}
{% block body_content %}
    <div class="container-fluid bg-1 text-center">
      <h1>Hola!! I am Ivon!</h1>
    </div>
    <div class="container-fluid bg-3 text-center">
      <p>I am from Cuba. I moved to the UK 6 years ago and live now in London with my husband and daughter. I have been a stay
          at home mum for a long time now and I am eager to start a job and retake my career. I started the Sky's
          Get into Tech course and I am very excited for all the new things I have learned. Despite the gap in my tech
          experience, I am confident that with the structured guidance provided in this course, I can successfully
          land a career in software development.
      </p>
    </div>
    <div class="container-fluid bg-3 text-center">
      <p>When I'm not coding, you'll find me dancing - especially salsa, one of the main dances from my home country.
      I also love spending time with my beautiful family and friends. I like attending tech community events, regularly
      volunteer as a web developer, and enjoy teaching Spanish &#128522;
      </p>
    </div>

{% endblock %}