{% extends "layout.html" %}
{% block body_content %}
<div class="container-fluid bg-1 text-center">
      <h1>Hi! I am Malvina</h1>
      <br />
</div>
  <div class="container-fluid bg-2 text-center">
      <p>I came from Poland in 2006 and now I live in Skipton, North Yorkshire. I work as a Project Coordinator as well as Junior Network Engineer in a Network Modernisation project for the University in Preston.
        I am continuing my career change which I have started with an Apprenticeship in Networking 3y ago.
      </p>
  </div>
  <div class="container-fluid bg-3 text-center">
      <p>I love to spend time with my daughter, my dog, on the allotment - ideally with all 3 at the same time.
      </p>
  </div>

{% endblock %}