{% extends "layout2.html" %}
{% block body_content %}

<section>
    <div class="row strong">
        <div class="col-sm">ID</div>
        <div class="col-sm">Name</div>
        <div class="col-sm">Price £</div>
        <div class="col-sm">Main Image</div>
    </div>
    <hr>
    {% for product in products %}
    <div class="row">
        <div class="col-sm-3">
    <p>{{product.ID}}</p>
        </div>
                <div class="col-sm-3">
    <p><strong>{{ product.name }}</strong></p>
                </div>
                <div class="col-sm-3">
    <p>{{ product.price }}</p>
                </div>
    <div class="col-sm-3">
     <img src="/static/images/{{ product.image_src }}" class="img-responsive margin" width="50%" alt="Main product image">
    </div>
       <hr>
    </div>
    {% endfor %}
 </section>

{% endblock %}
