{% extends "layout2.html" %}
{% block body_content %}
        <h3 class="margin">Product Details</h3>
<section>
    <p>ID: {{product.ID}}</p>
    <p>Name: <strong>{{ product.name }}</strong></p>
    <p>Price: £{{ product.price }}</p>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <img src="{{ image_src }}" class="img-responsive margin" width="40%" alt="Main product image">
        </div>
        {% if image_gif %}
        <div class="col-sm-6">
            <img src="{{ image_gif }}" class="img-responsive margin" width="40%" alt="Optional product GIF">
        </div>
        {% endif %}
    </div>
    <hr>
    <div class="row">
<!--<p>{{product}}</p>-->
        <div class="col-sm-6">
            {% if previous_url %}
              <a href="{{previous_url}}">Previous</a>
            {% endif %}
        </div>
        <div class="col-sm-6">
            {% if next_url %}
              <a href="{{next_url}}">Next</a>
            {% endif %}
        </div>
 </section>
{% endblock %}
